<header class="space-y-12">
  <%= image_tag "logo.png", class: "sm:h-72 mx-auto h-52" %>

  <h1 class="text-5xl font-black text-center">
    This is HotwireCombobox
  </h1>

  <p class="max-w-lg mx-auto text-lg italic text-center">
    HotwireCombobox is at an early stage of development. It's nearing a beta release, but the
    API might change and bugs are expected. Please continue to use the library and report
    any issues in the GitHub repo.
  </p>

  <%= paragraph do %>
    It's a combobox (aka autocomplete) gem for Ruby on Rails applications.

    <%= sp %>
    You will need Turbo and Stimulus installed and running in your app to use this gem.

    <%= sp %>
    Head to our <%= link "GitHub repo", "https://github.com/josefarias/hotwire_combobox" %>
    for installation instructions or read on for a quick demo.

    <%= sp %>
    HotwireCombobox prides itself on being easy to use. Let's dive into an implementation many
    people would think is complicated but this library makes simple.
  <% end %>
</header>
