<!DOCTYPE html>
<html>
  <head>
    <title>ComboboxDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# Make sure combobox styles are loaded after frameworks and before application styles %>
    <%= combobox_style_tag "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "states", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="my-28 text-pretty space-y-44 container flex flex-col items-center px-5 mx-auto">
      <%= yield %>

      <footer>
        <p class="text-center">
          Made by <%= link_to "Jose Farias", "https://jose.omg.lol/", target: :_blank, rel: :noreferrer, class: "underline font-semibold" %>

          <br>Dedicated to Ali and Pablo
          <br><br>© 2024
        </p>
      </footer>
    </main>
  </body>
</html>
